# Dependencies
node_modules/
dist/
.astro/

# Environment / Secret
.env
.env.local
.env.*.local

# Vercel
.vercel

# Project Specific Exclusions
misc-docs/
z-files/
scratch/
*.code-workspace

# OS files
.DS_Store
.env*.local
