---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.jsx';
---

<Layout title="Gig Spottr Bot | Analyzer">
	<div class="vibe-glow-pool"></div>
	<main class="w-full max-w-[480px] mx-auto min-h-screen p-4 sm:p-6 flex flex-col justify-center">
		<!-- Start React SPA Hydration -->
		<App client:load />
	</main>
</Layout>
